* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
}
.text {
  text-align: center;
  border-bottom: 1px solid lightgrey;
}
.text h1 {
  font-size: 40px;
  font-weight: 400;
  padding-bottom: 10px;
}
.user a {
  color: #000;
}
.user a:hover {
  text-decoration: none;
}
.load {
  text-align: center;
  margin-top: 250px;
  font-size: 30px;
  font-weight: bold;
  color: cadetblue;
}
.albums {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.foto {
  width: 150px;
  height: 150px;
  margin-top: 50px;
}
